@use "../../app/styles/colors.scss";

.card {
	background-color: colors.$color-white;
	border-radius: 0.8rem;
	overflow: hidden;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	
	&__image {
		width: 100%;
		max-height: 12rem;
		object-fit: cover;
	}
	
	&__content {
		padding: 1.5rem;
		
		&__title {
			margin-bottom: 1rem;
		}
		
		&__description {
			margin-bottom: 1rem;
		}
		
		&__link {
			color: colors.$color-red;
			font-size: 0.875rem;
			&:hover {
				color: colors.$color-red-hover;
			}
			
		}
	}
}