@use "../../app/styles/colors.scss";
@use "../../app/styles/mixins.scss" as mixins;

.section {
	background-color: #f9fafb;
	min-height: 60svh;
	padding: 4rem 1.5rem;
	@include mixins.responsive-bg("/background.svg");
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	
	&__title {
		margin-bottom: 1rem;
	}
	
	&__p {
		margin-bottom: 2.5rem;
		color: colors.$color-gray
	}
	
	&__button {
		margin-top: 1.5rem;
	}
	
	@media (max-width: 768px) {
		padding: 3rem 1rem;
		@include mixins.responsive-bg("/background-mobile.svg");
	}
}

