@use "../../app/styles/colors.scss";

.section {
	background-color: #f9fafb;
	min-height: 60svh;
	padding: 4rem 1.5rem;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	
	&__title {
		margin-bottom: 1rem;
	}
	
	&__p {
		margin-bottom: 2.5rem;
		color: colors.$color-gray
	}
	
	@media (max-width: 768px) {
		padding: 3rem 1rem;
		background-size: 50px auto;
	}
}

