
$color-black: #374151;
$color-gray: #424E61;
$color-white: #FFFFFF;
$color-white-hover: #E0E0E0;
$color-green: #4ba059;
$color-blue: #3b82f6;
$color-red-hover: #ca2121;
$color-red: #d50b0b;
$color-green-hover: #3e844a;
$color-blue-hover: #2563eb;
