@use "../../app/styles/colors.scss";

.dashboard {
	min-width: 15rem;
	padding: 1rem 1rem;
	background-color: colors.$color-white;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 1rem;
	
}

.inputs {
	display: grid;
	gap: 2rem;
	
	&__buttons {
		display: grid;
		gap: 1rem;
		
		@media (min-width: 768px) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}
}

.none {
	display: none;
	width: 0rem;
}