.modal {
	display: flex;
	
	
	&__content {
		min-width: 80vw;
		min-height: 60vh;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		
		&__textarea {
			width: 100%;
			min-height: 10rem;
			resize: none;
		}
	}
}