@use "../../app/styles/colors.scss";

.section {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: visible;
}

.subtitle {
  margin-bottom: 1.5rem;
  color: #666;
}

.sliderWrapper {
  position: relative;
  width: 100%;
  overflow: visible;

  .keen-slider {
    padding: 2rem 0;
  }

  .keen-slider__slide {
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #333; // тёмно-серый/чёрный
  font-size: 2rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0.25rem 0.5rem;
  transition: color 0.2s ease;

  &:hover {
    color: #000; // становится чуть темнее при наведении
  }

  span {
    display: inline-block;
    line-height: 1;
  }
}

.prev {
  left: -2.25rem;
}

.next {
  right: -2.25rem;
}
