@use "../../app/styles/colors.scss";

.logo {
	width: 2rem;
	height: 2rem;
	background-color: colors.$color-red;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	&__letter {
		color: colors.$color-white;
		font-weight: 700;
		font-size: 1.125rem;
	}
}