@use "../../styles/colors.scss" as colors;

.page {
	padding: 7rem 12rem;
	
	@media (max-width: 1024px) {
		padding: 6rem 6rem;
	}
	
	@media (max-width: 768px) {
		padding: 6rem 2rem;
	}
}

.links {
	display: flex;
	margin-bottom: 2rem;
}

.linkWithHashtag {
	display: flex;
	font-size: 0.85rem;
	color: colors.$color-white-hover;
	
	a {
		color: colors.$color-white-hover;
		transition: all 0.2s;
		
		&:hover {
			color: colors.$color-gray;
		}
	}
	&__p {
		margin-inline: 0.5rem;
		font-size: 0.85rem;
	}
}

.miniTitle {
	font-size: 0.85rem;
}

.back {
	display: flex;
	align-items: center;
	color: colors.$color-red;
	gap: 0.25rem;
	margin-bottom: 2rem;
	
	a {
		color: colors.$color-red;
		transition: all 0.2s;
		&:hover {
			color: colors.$color-red-hover
		}
	}
}

.date {
	color: colors.$color-gray;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 1rem;
	&__icon {
		
	}
	
	&__p {
		font-weight: 500;
	}
}

.article {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	
	
	&__image {
		max-height: 12rem;
		border-radius: 0.8rem;
		// object-fit: ;
	}
	
	&__p {
		margin-bottom: 3rem;
		line-height: 1.6rem;
	}
}

.questions {
	display: flex;
	flex-direction: column;
	gap: 0.85rem;
	border-radius: 1rem;
	padding: 2rem 1.5rem;
	border: 1px solid colors.$color-red;
	background-color: #fef2f2;
	
	&__button {
		max-width: 14rem;
	}
}