@use "../../app/styles/colors.scss";

.nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    &__list {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        font-weight: 500;

        &__link {
            color: colors.$color-black;
            text-decoration: none;
            transition: all 0.3s;

            &:hover {
                color: colors.$color-red;
            }
        }
    }
}

.mobileNav {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        justify-content: flex-end;
    }
	
	&__button {
		padding: 0.5rem 1rem;
	}
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.fadeOut {
    opacity: 0;
}

.drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    max-width: 300px;
    height: 100%;
    background-color: colors.$color-white;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    z-index: 110;
}

.drawer__list {
    list-style: none;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 500;
	
	li {
		border-bottom: 1.75px solid colors.$color-white-hover;
		padding-bottom: 0.45rem;
	}
}

.drawer__link {
    color: colors.$color-black;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;

    &:hover {
        color: colors.$color-red;
    }
}

// Анимации
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.slideIn {
    animation: slideIn 0.3s forwards;
}

.slideOut {
    animation: slideOut 0.3s forwards;
}
